body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100vw;
  height: 100vh;
}

.board{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board *{
  width: 100%;
  height: 100%;
}

.boardSquare{
  position: relative;
}

.isOverSquare{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

.isOverSquare.red{
  background-color: red;
}
.isOverSquare.yellow{
  background-color: yellow;
}
.isOverSquare.green{
  background-color: green;
}

.square{
  line-height: 10vh;
  text-align: center;
  font-size: 5vh;
}

.knight{
  background-color: transparent;
  cursor: move;
  font-weight: bold;
}
